# Activate virtualenv
alias venv='source venv/bin/activate'
# cmd.exe as cmd and powershell.exe as powershell
alias cmd='cmd.exe'
alias powershell='powershell.exe'

#clear function
function clear() {
    reset
    shuf -n 1 ~/.jojoquotes | cowsay | lolcat
}
